.clsmat{
    width:150px;
    height: 350px;

}

.clsmatexpansion{
    width:500px;
    margin: auto;
}

.example-card{
    width: 200px;
    background-color:teal;
    justify-content: space-evenly;
}
.clsmatdisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section{
    /* background-color:rgb(230, 223, 223); */
    margin: 0;
    
}